@media (width<=1200px) {
    .adminNavCont {
        left: -100%;
    }

    .adminRoute {
        margin-left: 0;
    }
}

@media (width<=980px) {
    .o-summary-cont {
        width: 100%;
        display: flex;
        flex-flow: column-reverse;
    }
    .cus-d-cont,
    .o-d-cont {
        width: 100%;
    }
}

@media (width<=780px){
    .settings .row{
        flex-flow: column;
    }
}

@media (width<=700px) {
    .formCont .formSec .thumbnailImg {
        width: 100%;
        height: 300px;
    }
}

@media (width<=500px) {

    .formCont form .btn,
    .addNew {
        top: 90px;
        width: 100%;
    }

    .formCont form .cancel {
        top: 140px;
        right: 0;
        width: 100%;
    }

    .formCont {
        margin-top: 140px;
    }

    .tableCont {
        margin-top: 80px;
    }

    .formCont .formSec .slug #dSlug {
        display: none;
    }

    .formCont .formSec .thumbnailImg {
        width: 100%;
        height: 200px;
    }
}