@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 2200px;
  /* width: 100%; */
  min-width: 320px;
  overflow-x: hidden;
  margin: auto;
  padding-top: 95px;
}

main {
  min-height: 60vh;
}

/* -------------Tool Bar------------ */
.toolBarCont {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  max-width: 2200px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 6px 40px;
  /* background-color: #171717; */
  background-color: #000000;
  color: white;
  transition: all 0.5s;
}

.toolBarCont .contact {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  transition: all 0.5s;
}

.toolBarCont p {
  color: #dfb434;
}

@media (width<=360px) {
  .toolBarCont p {
    font-size: small;
  }
}

/* ------------Tool Bar End--------- */

/* -------------NavBar------------ */
.navMainCont {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 40px;
  max-width: 2200px;
  position: fixed;
  top: 35px;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.navContainer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

/* ------Nav Company Logo------ */
.navLogo {
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}

/* -------Routes-------- */
.navMenu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.navMenu .navLinks {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.navMenu .navLinks a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
}

.navMenu .navLinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  width: 0%;
  background-color: #dfb434;
  transition: all 0.5s;
}

.navMenu .navLinks a:hover::after {
  width: 100%;
}

.navMenu .navLinks a:hover {
  color: #dfb434;
}


/* -----Small Navbar Menu Button-------- */

.navMenu .menuBtn {
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  z-index: 100;
}

.navMenu .menuBtn:hover span {
  background-color: black;
}

.navMenu .menuBtn span {
  width: 35px;
  height: 4px;
  border-radius: 2px;
  background-color: black;
  transition: all 0.5s;
}

.navMenu .menuBtn.open span:first-child {
  transform: rotate(45deg) translate(10px, 3px);
}

.navMenu .menuBtn.open span:nth-child(2) {
  opacity: 0;
}

.navMenu .menuBtn.open span:last-child {
  transform: rotate(-45deg) translate(10px, -4px);
}



/* --------Small Navbar Routes Style------------ */

.navMainCont .routerDropDown {
  height: 0;
  z-index: 100;
  overflow: hidden;
  transition: all 0.5s;
}

.navMainCont .routerDropDown.drop {
  height: 200px;
}

.navMainCont .routerDropDown a {
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  cursor: pointer;
  border-bottom: 3px solid black;
  width: 100%;
  margin-bottom: 10px;
}

.routerDropDown .dropSearch {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 2px solid black;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 10px;
}

.routerDropDown .dropSearch input {
  width: 100%;
  border-right: 2px solid black;
  padding: 5px;
  outline: none;
}

.dropCart {
  font-size: 2.5rem;
  position: relative;
  cursor: pointer;
  /* padding-top: 10px; */
}

.dropCart a {
  text-decoration: none;
  border-bottom: none;
}

.dropCart .count {
  position: absolute;
  top: 8px;
  left: 20px;
  font-size: small;
  background-color: cadetblue;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.routerDropDown .dropUser img {
  border-radius: 50%;
}

/* --------NavBar Cart, Search & User Styles-------- */

.navMenu .searchBar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: auto;
}

.searchBar .searchIcon {
  font-size: 1.6rem;
  cursor: pointer;
}

.searchBar .searchIcon:hover {
  color: #dfb434;
}

.navMenu .searchBar input {
  outline: none;
  border: none;
  padding: 0px 5px;
  width: 0;
  opacity: 0;
  transition: all 1s;
}

.navMenu .searchBar input.show {
  width: 120px;
  border-bottom: 2px solid #dfb434;
  opacity: 1;
}

.navMenu .cartCont {
  position: relative;
  cursor: pointer;
}

.navContainer .cartCont .count {
  position: absolute;
  left: 50%;
  top: -5px;
  background-color: cadetblue;
  width: 20px;
  height: 20px;
  font-size: small;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navMenu .userCont img {
  border-radius: 50%;
}


/* ------------- Navbar End ------------ */

/* -------------- Hero Section -------------- */
.heroContainer {
  width: 100%;
  background-color: #eeeee6;
  display: flex;
  padding: 200px 100px;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/spices.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroContainer h1 {
  font-size: 4rem;
  font-weight: bolder;
  text-align: center;
  line-height: 1;
  color: white;
  /* background: -webkit-linear-gradient(#dfb434, #c97d26);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  transition: all 0.5s;
  line-break: strict;
}

.heroContainer button,
.blogsCont button {
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: white;
  border-radius: 5px;
  display: block;
  height: 60px;
  width: 200px;
  /* background: rgb(149, 126, 6);
  background: linear-gradient(34deg, rgba(149, 126, 6, 1) 29%, rgba(221, 177, 3, 1) 100%); */
  background: rgb(199, 169, 15);
  background: linear-gradient(180deg, rgba(199, 169, 15, 1) 29%, rgba(236, 190, 8, 1) 100%);
  transition: all 0.5s;
}

.heroContainer button:hover,
.blogsCont button:hover {
  background: rgb(149, 126, 6);
  background: linear-gradient(180deg, rgba(149, 126, 6, 1) 29%, rgba(221, 177, 3, 1) 100%);
  transition: all 0.5s;
}

/* ------- Hero Section End-------- */

/* -------- About Section----------- */
.aboutContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 200px 0;
  transition: all 0.5s;
}

.aboutContainer .aboutImg,
.aboutContainer .aboutText {
  max-width: 500px;
  width: 40%;
  transition: all 0.5s;
}

.aboutText h1 {
  margin-bottom: 50px;
}

.aboutText h1,
.reviewCont h1,
.offerContainer h1,
.blogsCont h1,
.letterCont h1,
.productCont h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  /* color: rgba(1, 79, 6, 1);
  background: -webkit-linear-gradient(rgba(1, 79, 6, 1), rgba(5, 145, 7, 1)); */
  color: #2e2e2e;
  /* background: -webkit-linear-gradient(#dfb434, #c97d26);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  transition: all 0.5s;
}

.aboutText p {
  text-align: justify;
  font-size: 1.4rem;
  color: black;
  transition: all 0.5s;
}

.aboutImg img {
  height: 400px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* ---------- About Section End ------------- */

/* --------- Offers Section--------------- */
.offerContainer {
  width: 100%;
  /* background-color: #e5efe0; */
  background-color: #f3f3f3;
  padding: 200px 50px 150px 50px;
}

.offerContainer .imgCont {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 100px;
  gap: 20px;
  transition: all 0.5s;
}

.imgCont .cardCont {
  width: 400px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 40px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.5s;
}

.imgCont .cardCont img {
  border-radius: 5px;
}

.imgCont .cardCont h2,
.reviewCard h2 {
  font-size: 1.3rem;
  font-weight: bolder;
  color: black;
}

/* -------------Offers Section--------------- */
/* ----------Popular Products -------------- */
.productCont {
  background-color: white;
  padding: 100px 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.productCont .slider {
  width: 100%;
  max-width: 1300px;
  margin-top: 50px;
  padding: 10px;
  height: inherit;
}

.productCard {
  height: inherit;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow-x: hidden;
  transition: all 0.5s;
}

.productCard img {
  width: 200px;
}

.productCard h2 {
  font-size: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

.productCard p {
  font-size: 1.1rem;
}

.productCard button {
  background-color: #dfb434;
  padding: 10px 70px;
  font-size: large;
  border-radius: 50px;
  transition: all 0.5s;
}

/* ----------Popular Priducts End----------- */

/* ----------- Reviews Section--------------- */
.reviewCont {
  width: 100%;
  background-color: #f3f3f3;
  padding: 200px 50px;
}

.reviewCardCont {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 100px;
  gap: 20px;
  transition: all 0.5s;
}

.reviewCard {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 250px;
  text-align: center;
  padding-bottom: 50px;
  gap: 20px;
}

.reviewCard img {
  width: 140px;
}

.reviewCard .stars {
  font-size: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
}


/* ------------ Reviews End----------------- */

/* ----------- Blogs Section ------------- */
.blogsCont {
  width: 100%;
  /* background-color: #e5efe0; */
  background-color: white;
  padding: 100px 50px;
}

.blogsCont .cardCont {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.blogsCont .card {
  max-width: 400px;
  min-width: 250px;
  width: 30%;
  transition: all 0.5s;
}

.blogsCont .card .imgCont {
  position: relative;
}

.blogsCont .card .imgCont .overLay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 8px 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}

.blogsCont .card img {
  border-radius: 10px;
}

.blogsCont .card h2 {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  padding: 8px 0;
}

.blogsCont .card h3 {
  font-size: 1.1rem;
  padding: 8px 0;
}

.blogsCont .moreBtn {
  text-align: center;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------- Blogs End----------------- */

/*------------- News Letter---------------*/
.letterCont {
  background-color: #f3f3f3;
  padding: 100px 40px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.letterCont .text {
  line-height: 1;
  text-align: center;
}

.letterCont .text p {
  font-size: 1.1rem;
}

.letterCont .inputCont {
  display: flex;
  border: 1px solid black;
  padding: 8px;
  border-radius: 40px;
  width: 40%;
}

.letterCont .inputCont input {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  margin-left: 5px;
  font-size: 1.1rem;
  background-color: transparent;
}

.letterCont .inputCont button {
  padding: 15px;
  border: 1px solid black;
  background-color: #dfb434;
  margin-left: 10px;
  border-radius: 30px;
  min-width: fit-content;
}

/* ------------News Letter End----------- */

/* ------------ Footer ------------------- */
.footer {
  /* background-color: #171717; */
  background-color: #000000;
  padding: 30px 50px;
  display: flex;
  gap: 20px;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  transition: all 0.5s;
}

.copy {
  /* background-color: #171717; */
  background-color: #000000;
  padding: 10px 0;
  border-top: 2px solid white;
  color: white;
  text-align: center;
}

/* .copy p {
  color: white;
} */

.footer h2 {
  font-size: 1.3rem;
  font-weight: bolder;
  margin-bottom: 5px;
}

.footer .mainCont {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 70%;
  /* gap: 200px; */
}

.footer .logo {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  width: 30%;
  align-items: center;
  line-height: 1;
}

.logo h1 {
  text-transform: uppercase;
  color: #e5efe0;
  font-weight: bolder;
  font-size: 1.5rem;
}

.logo p {
  color: #e5efe0;
  font-size: small;
  letter-spacing: -0.5px;
}

.footer .explore,
.footer .bestSeller,
.footer .legal,
.footer .address {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  gap: 2px;
}

.address address {
  width: 200px;
}

/* ------------ Footer End --------------- */
/* ------------- Cart Page --------------- */
.cartPage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 50px 15px;
  /* overflow-x: auto; */
}

.cartPage h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.cartPage a {
  text-decoration: underline;
  margin-bottom: 30px;
}

.cartPage table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1600px;
  table-layout: fixed;
  transition: all 0.5s;
}

.cartPage table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.cartPage table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

.cartPage table th,
.cartPage table td {
  padding: .625em;
  text-align: center;
}

.cartPage table th {
  font-size: 1rem;
  letter-spacing: .1em;
  text-transform: capitalize;
}

.cartPage table #trash {
  transition: all 0.5s;
}

.cartPage table #trash:hover {
  transform: scale(1.2);
  color: #dfb434;
}



.cartPage .tableProduct {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.cartPage .tableProduct p {
  font-size: large;
}

.cartPage .innerBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  width: 100%;
  min-width: 100px;
  margin: auto;
  font-size: 1.3rem;
  padding: 5px 15px;
  border-radius: 30px;
}

.cartPage .innerBtn button {
  font-size: 1.5rem;
  font-weight: bold;
}

.cartPage .checkoutCont {
  max-width: 1600px;
  width: 100%;
  text-align: right;
}

.cartPage .checkoutCont button {
  background-color: #dfb434;
  font-size: large;
  outline: none;
  border: 1px solid;
  padding: 10px 50px;
  border-radius: 30px;
}

.cartPage .checkoutCont .subTotal {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.cartPage .checkoutCont .subTotal p {
  font-size: small;
}

.checkoutPage {
  padding: 100px 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  justify-content: space-between;
  position: relative;
}

.reviewDetail,
.paymentForm,
.checkoutForm {
  max-width: 600px;
  padding: 20px;
  width: 50%;
  border-radius: 3px;
  transition: all 0.5s;
  margin: auto;
  /* margin: auto; */
}

.reviewDetail {
  width: 100%;
  transition: all 0.5s;
  padding: 0;
  margin-bottom: 20px;
}

.reviewDetail input {
  width: 100%;
  padding: 10px 0;
  /* border: none; */
  outline: none;
  border-bottom: 2px solid #e6e6e6;
}

.checkoutForm input,
select {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.reviewDetail label,
.checkoutForm label {
  font-size: 0.95rem;
  color: #757373;
}

.reviewDetail .header,
.paymentForm .header,
.checkoutForm .header {
  width: 100%;
  background-color: #85aeff;
  padding: 20px 10px;
  border: 1px solid #becdec;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 10px;
}

.checkoutForm .nameCont {
  display: flex;
  gap: 10px;
}

.paymentForm .btnBack,
.checkoutForm .btnBack {
  background-color: #85aeff;
  padding: 10px 50px;
  border-radius: 3px;
  width: 45%;
  min-width: 200px;
  border: 1px solid #eeeee6;
}

.paymentForm .btnNext,
.checkoutForm .btnNext {
  background-color: #dfb434;
  padding: 10px 50px;
  border-radius: 3px;
  width: 45%;
  min-width: 200px;
  border: 1px solid #eeeee6;
}

.checkoutForm.hide {
  display: none;
}

.paymentForm {
  transition: all 0.5s;
}

.paymentForm.hide {
  display: none;
}

.checkoutPage .orderSummary {
  width: 50%;
  height: 100%;
  padding-top: 30px;
}

.checkoutPage .orderSummary .summaryCont {
  background-color: #e6e6e6;
  width: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 3px;
}

.checkoutPage .orderSummary h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.checkoutPage .orderSummary table {
  width: auto;
  margin: auto;
  max-width: 450px;
  max-height: 100px;
}

.checkoutPage .orderSummary table ::-webkit-scrollbar {
  height: 1px;
}


/* ----------- Cart Page End ------------- */