@media (width<=1050px) {
    .footer {
        flex-wrap: wrap;
        /* align-items: center; */
    }

    .footer .mainCont {
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }

    .footer .logo {
        width: 100%;
        justify-content: center;
        min-width: max-content;
    }
}

@media (width<=950px) {
    .blogsCont .cardCont {
        flex-wrap: wrap;
    }

    .blogsCont .card {
        width: 45%;
    }

    .navMenu .navLinks {
        display: none;
    }

    .navMenu .menuBtn {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .routerDropDown .dropSearch,
    .routerDropDown .dropCart,
    .routerDropDown .dropUser {
        display: none;
    }

    .aboutContainer {
        flex-flow: column;
        gap: 100px;
        padding: 100px 20px;
    }

    .aboutContainer .aboutText,
    .aboutContainer .aboutImg {
        width: 100%;
    }

    .letterCont .inputCont {
        width: 70%;
    }

    .checkoutPage {
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .checkoutPage .orderSummary,
    .paymentForm,
    .checkoutForm {
        width: 100%;
    }

    /* .toolBarCont .promo {
        display: none;
    } */

    /* .toolBarCont .contact {
        width: 100%;
        gap: 0;
    } */
}

@media screen and (max-width: 700px) {
    .cartPage {
        padding-top: 50px;
    }

    .cartPage table {
        border: 0;
    }

    .cartPage table caption {
        font-size: 1.3em;
    }

    .cartPage table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .cartPage table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .cartPage table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .cartPage table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .cartPage table td:last-child {
        border-bottom: 0;
    }
}



@media (width<=650px) {
    .blogsCont .card {
        width: 100%;
    }

    .offerContainer {
        padding: 100px 20px;
    }

    .navMenu .searchBar,
    .navMenu .cartCont,
    .navMenu .userCont {
        display: none;
    }

    .routerDropDown .dropSearch,
    .routerDropDown .dropCart,
    .routerDropDown .dropUser {
        display: block;
    }

    .navMainCont .routerDropDown.drop {
        height: 310px;
    }

    .heroContainer h1 {
        font-size: 2.5rem;
        /* text-align: justify; */
    }

    .heroContainer {
        padding: 100px 20px;
    }

    .toolBarCont {
        padding: 6px 20px;
    }

    .letterCont .inputCont {
        display: flex;
        flex-flow: column;
        border: none;
        gap: 10px;
        padding: 8px;
        width: 100%;
    }

    .letterCont .inputCont input {
        border: 1px solid black;
        outline: none;
        padding: 15px 15px;
        border-radius: 40px;
        width: 100%;
        margin-left: 0;
        font-size: 1.1rem;
    }

    .letterCont .inputCont button {
        padding: 15px;
        border: 1px solid black;
        margin-left: 0;
        border-radius: 30px;
        min-width: fit-content;

    }
}

@media (width<=330px) {
    .footer {
        padding: 10px 40px;
    }

    .footer .mainCont {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .productCard button {
        padding: 10px 50px;
    }

    .productCard h2 {
        font-size: large;
    }
}