@media (width<=1050px) {
    .footer {
        flex-wrap: wrap;
        /* align-items: center; */
    }

    .footer .mainCont {
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }

    .footer .logo {
        width: 100%;
        justify-content: center;
        min-width: max-content;
    }
}

@media (width<=950px) {
    .blogsCont .cardCont {
        flex-wrap: wrap;
    }

    .blogsCont .card {
        width: 45%;
    }

    .navMenu .navLinks {
        display: none;
    }

    .navMenu .menuBtn {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .routerDropDown .dropSearch,
    .routerDropDown .dropCart,
    .routerDropDown .dropUser {
        display: none;
    }

    .aboutContainer {
        flex-flow: column;
        gap: 100px;
        padding: 100px 20px;
    }

    .aboutContainer .aboutText,
    .aboutContainer .aboutImg {
        width: 100%;
    }

    .letterCont .inputCont {
        width: 70%;
    }

    .checkoutPage {
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .checkoutPage .orderSummary,
    .paymentForm,
    .checkoutForm {
        width: 100%;
    }

    .signupMainCont,
    .loginMainCont {
        flex-flow: column-reverse nowrap;
        padding-top: 90px;
    }

    .signupMainCont .formCont,
    .signupMainCont .signupImgCont,
    .loginMainCont .loginImgCont,
    .loginMainCont .formCont {
        width: 100%;
    }

    /* .toolBarCont .promo {
        display: none;
    } */

    /* .toolBarCont .contact {
        width: 100%;
        gap: 0;
    } */
}

@media (width<=850px) {
    .proMainCont .sidePanel {
        width: 250px;
        height: 100%;
        position: fixed;
        top: 0;
        left: -250px;
        z-index: 2;
        background-color: white;
        transition: all 0.5s;
    }

    .proMainCont .sidePanel .toggleIcon {
        position: absolute;
        color: black;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: bolder;
        background-color: white;
        height: 30px;
        width: 35px;
        top: 110px;
        right: -21px;
        padding-right: 5px;
        padding-top: 2px;
        display: unset;
        border-radius: 2px;
    }

    .proMainCont .rightPanel {
        border: none;
    }

    .productSlug {
        flex-flow: column nowrap;
    }
}

@media (width<=780px) {

    .contactLocation .contSubCo .officesCont,
    .departmentCont .departSubCont,
    .contactMainCont .contactUs {
        flex-flow: column;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .cartPage {
        padding-top: 50px;
    }

    .addressBook table,
    .cartPage table {
        border: 0;
    }

    .cartPage table caption {
        font-size: 1.3em;
    }

    .rightPanel table thead,
    .cartPage table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .rightPanel table tr,
    .cartPage table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .rightPanel table td img {
        margin-left: auto;
    }

    .rightPanel table td,
    .cartPage table td {
        border-bottom: 1px solid #ddd;
        display: block;
        /* font-size: em; */
        text-align: right;
    }

    .rightPanel table td::before,
    .cartPage table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: capitalize;
    }

    .rightPanel table td:last-child,
    .cartPage table td:last-child {
        border-bottom: 0;
    }

    .cartPage .tableProduct {
        max-width: none;
        text-align: left;
        gap: 10px;
    }
}



@media (width<=650px) {
    .blogsCont .card {
        width: 100%;
    }

    .offerContainer {
        padding: 100px 20px;
    }

    .navMenu .searchBar,
    .navMenu .cartCont,
    .navMenu .userCont {
        display: none;
    }

    .routerDropDown .dropSearch,
    .routerDropDown .dropCart,
    .routerDropDown .dropUser {
        display: block;
    }

    .navMainCont .routerDropDown.drop {
        height: 255px;
    }

    .heroContainer h1 {
        font-size: 2.5rem;
        /* text-align: justify; */
    }

    .heroContainer {
        padding: 100px 20px;
    }

    .toolBarCont {
        padding: 6px 20px;
    }

    .letterCont .inputCont {
        display: flex;
        flex-flow: column;
        border: none;
        gap: 10px;
        padding: 8px;
        width: 100%;
        box-shadow: none;
    }

    .letterCont .inputCont input {
        /* border: 1px solid black; */
        outline: none;
        padding: 15px 15px;
        border-radius: 40px;
        width: 100%;
        margin-left: 0;
        font-size: 1.1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .letterCont .inputCont button {
        padding: 15px;
        /* border: 1px solid black; */
        margin-left: 0;
        border-radius: 30px;
        min-width: fit-content;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .cartPage h1 {
        font-size: 1.5rem;
    }

    .subCont .orderDetail .product {
        flex-flow: column nowrap;
        justify-content: left;
        align-items: start;
        width: 100%;
        text-align: left;
        margin-bottom: 25px;
    }

    .subCont .orderSummary .ordersummaryCont,
    .subCont .orderPlaceDesc .orderStatus {
        flex-flow: column nowrap;
    }

    .subCont .orderDetail .product .title {
        max-width: 100%;
    }

    .subCont .orderDetail .product .total,
    .subCont .orderDetail .product .qty,
    .subCont .orderDetail .product .price {
        text-align: right;
        display: flex;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        border-top: 1px solid rgb(224, 224, 224);
        padding: 3px;
    }

    .navMainCont {
        padding: 10px 20px;
    }

    .productCard {
        text-align: center;
        max-width: 100%;
    }

    .productCard h2 {
        text-align: center;
    }

    .subCont .btnAction {
        flex-flow: column-reverse;
    }

    .imgCont .cardCont .img {
        height: 250px;
    }

    .productCard .img {
        height: 400px;
    }
}

@media (width<=500px) {
    .rightPanel .editCont .editSubCont {
        flex-flow: column nowrap;
        gap: 0;
    }

    .editCont .fileCont {
        flex-flow: column nowrap;
    }

    .logo img {
        width: 250px;
    }

    .productSlug .imgCont {
        flex-flow: column nowrap;
    }

    .productSlug .imgCont .thumbnails {
        flex-flow: row;
        width: 100%;
    }

    .productSlug .imgCont .thumbnails img {
        width: 100px;
    }

    .subCont .btnAction {
        width: 100%;
    }

    .subCont .btnAction .confirmCont {
        flex-flow: column-reverse;
    }

    .subCont .btnAction .cancelBtn {
        max-width: 300px;
    }

    .contactMainCont .contactUs form .subInputCont {
        flex-flow: column;
    }

    .productCard .img {
        height: 350px;
    }
}

@media (width<=400px) {
    .productCard .img {
        height: 250px;
    }
}

@media (width<=330px) {
    .footer {
        padding: 10px 40px;
    }

    .footer .mainCont {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .productCard button {
        padding: 10px 50px;
    }

    .productCard h2 {
        font-size: large;
    }
}