body {
    font-family: Arial, sans-serif;
}

.invoice {
    width: 21cm;
    /* height: 29.60cm; */
    padding: 1cm;
    margin: 1cm auto;
    /* margin-left: 1cm auto; */
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -80px;
}

.invoice-header {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    line-height: 25px;
}

.invoice-header .brandInfo {
    font-size: small;
    line-height: 20px;
}

.invoice-header,
.invoice-body,
.invoice-footer {
    margin-bottom: 20px;
}

.billing-details {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    margin: 60px 0;
}

.billing-details h3 {
    font-size: 1.1rem;
    font-weight: bold;
}

.billing-details p {
    font-size: small;
}

.invoice-header h1 {
    font-size: 2rem;
    /* font-weight: bold; */
    text-align: right;
    margin-top: 20px;
    text-transform: uppercase;
}

.invoice-header h2 {
    font-size: 1rem;
    /* font-weight: bold; */
    text-align: right;
}

.invoice-body table {
    width: 100%;
    border-collapse: collapse;
}

.invoice-body thead tr {
    background-color: #4A4947;
    color: white;
    border-radius: 10px;
}

.invoice-body table th,
.invoice-body table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.amount-container {
    display: flex;
    width: 100%;
    justify-content: right;
}

.amount-container .subCont {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

.invoice-footer {
    margin-top: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

.invoice-footer p {
    font-size: small;
    color: rgb(128, 128, 128);
}

.invoice-footer h4 {
    margin-top: 20px;
}

@page {
    size: A4;
    margin: 0;
    /* margin-top: -1cm; */
}

@media print {

    .invoice .btnPrint{
        display: none;
    }
    body {
        visibility: hidden;
    }

    .invoice,
    .invoice * {
        visibility: visible;
    }

    .invoice {
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 21cm;
        height: 29.60cm;
    }
}


.invoice .btnPrint {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* position: fixed;
    left: 0; */
}